{% extends 'base.html.twig' %}

{% block title %}
    Détails de la Commande
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Détails de la Commande #{{ commande.numCmd }}</h1>

        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nom du Produit</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Prix Total</th>
                </tr>
            </thead>
            <tbody>
                {% for ligne in lignes %}
                    <tr>
                        <td>{{ ligne.produit.titre }}</td>
                        <td>{{ ligne.quantite }}</td>
                        <td>{{ ligne.produit.prixTtc|number_format(2, '.', ',') }} €</td>
                        <td>{{ (ligne.quantite * ligne.produit.prixTtc)|number_format(2, '.', ',') }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><strong>Montant Total :</strong> {{ commande.total|number_format(2, '.', ',') }} €</p>

    </div>
{% endblock %}
